#header
{
    width: 940px;
    height: 155px;
    color: wheat;
    background-color: #4F5B65; //#A5CD4E; //#638cb5;
    margin: 0 auto ;
    padding-top: 9px;
    font-size: 30px;
}
h1{
    font-family:“Lucida Grande”, Verdana, Helvetica, Arial, sans-serif;
    color: white;
    margin-top: 50px;
    margin-left:30px;
    font-size: 50px;
 }
 h3
 {
     font-family: Hervetica;
     color: darkgray;
     font-size: 12px;
          
 }
 
 #logo{
     float: right;
     margin-right: 0px;
     margin-top: -130px;
 }
 
 body
 {
     background:#dcdcdc;
 }
 
 .pr
 {
 border: 2px solid black;    
 }
 
 table
 {
     
     width:350px;
     margin-top:10px;
     border: 2px solid black;
     background: green;        
    float: left;
    margin-left: 10px;
 }
 
 #inicio
 {
     background:black;
     color:white;
     list-style:none;
     text-decoration:none;
     float: right;
     margin-top:50px;
 }
 
 #votar
 {
     width:200px;
     height:100px;
    background:black;
     color:white;
     list-style:none;
     text-decoration:none;  
 }
 #influ
 {
     margin: 0 auto;
     margin-top: 50px;
     background:gray;
     width:600px;
     height:150px;
     outline: 2px solid black;
     
 }
 
#pregunta
{
    padding:20px;
    color: whitesmoke;
    font-family: sans-serif;
    
}
#selecion
{
    width: 450px;
    margin: 0 auto;
    margin-left:50px;
}

#binflu
{
    background:green;
}

#resultados
{
    
    width:800px;
    height:300px;
    background:gray;
    margin: 0 auto;
     margin-left:33%;
     margin-top:20px;
     
     
    
    
}

#resul
{
    font-family:sans-serif;
    font-size:40px;
    background: gray;
    width:750px;
  
}
#divi
{
    position: relative;
    height: auto;
    width: auto;
    clear: both;
    max-height:1000px;
    min-height:380px;   
    min-width: 100px;    
    max-width:1100px;
    position: relative;
    margin: 0 auto;
   border: none;
    background: #dcdcdc;
    margin-top:5px;
    
}
#votos
{
    width:300px;    
    float:left;
    margin-left:33%;
    margin-top:20px;
        
}

#promVotos
{
background:gray;
width:320px;
height:200px;
margin: 0 auto;
margin-top:50px;
border:black;
outline:2px solid black;
}

#rs
{
 background:gray;
width:300px;
height:50px;  
margin-left:10px;
margin-top:50px;
}


#rs.th
{
    border: 2px solid black;
}

#Aceptar
{
    font-family: sans-serif;
    font-size:30px;
     background: black;
     color:white;
     
}

#fin
{
    background: black;
    color: white;
    
    
}